x64
/soap-client-cpp.opensdf
/soap-client-cpp.sdf
/soap-client-cpp.v12.suo
/soap-client-cpp.vcxproj.user
/test/*.csv
/test/Debug/
/test/Release/
**/build/
**/dist/
**/plustache
**/Simple-Web-Server
**/testing
test.xml
